<div class="social">
{% if site.owner.twitter %}
    <a rel="nofollow" class="share" href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}%20{{ site.canonical }}{{ page.url }}%20via%20&#64;{{ site.owner.twitter }}" data-dnt="true"><i class="fab fa-twitter strong"></i></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    {% endif %}
    <a rel="nofollow" class="share" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&title={{ page.title | default:"" | uri_escape}}&summary={{page.excerpt | strip_html }}" target="_blank">
        <i class="fab fa-linkedin-in"></i>
    </a>
</div>