{% capture 'content' %}
  {% if meta.feature %}
    <section class="article">
      <div class="overlay{% unless meta.dark %} overlay-lighter{% endunless %}"></div>
      <div class="featured-image" style="background-image: url({{ meta.feature }})"></div>
  {% else %}
    <section class="article pad-top">
  {% endif %}
      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <h1>{{ title }}</h1>
            <p class="date">{{ date | date: "%b %d, %Y" }}</p>
            {% if meta.description %}<p class="intro">{{ meta.description }}</p>{% endif %}
          </hgroup>
        </header>

        {{ body }}

        {% include 'includes/share' %}
        {% include 'includes/comments' %}
      </article>
    </section>
  </div>
{% endcapture %}

{% include 'layouts/default' %}
