{% include head.html %}

{% if page.image.feature %}
  <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }}); ?>);"></div>
{% endif %}

      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <h1><?php echo article_title(); ?></h1>
            <p class="date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time></p>
            <p class="intro">{{ page.tagline }}</p>
          </hgroup>
        </header>
    
        {{ content }}
          
        <a href="http://twitter.com/share?url=<?php echo full_url(); ?>&text=<?php echo article_title(); ?>&via=<?php echo twitter_account(); ?>" class="share">Share</a>
    
      </article>
    </section>
</div>

{% include footer.html %}